@charset "UTF-8";

.center{
	display:flex;
	justify-content:center;
	align-items:center;
}

.main_content{
	padding:10px 0px 10px 10px;
	background-color: white;
	overflow-y:scroll;
}

.footer_buttons{
	display:flex;
}

.submit_input {
    width: 100%;
    height: 40px;
    margin-top: 19px;
    background-color: black;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.submit_input:hover{
	background-color:rgba(0,0,0,0.75);
}

.submit_input.ask {
    width: 100%;
    height: 40px;
    margin-top: 30px;
    background-color: white;
    color: gray;
    border: 1px solid gray;
    border-radius: 5px;
  	transition: background-color 1s ease; /* 배경색 변화에 부드러운 전환 효과 추가 */
}

.submit_input.ask:hover{
	background-color:#EAEAEA;
    cursor: pointer;
}

.like_button {
    width: 12%;
    height: 40px;
    stroke: black;
    margin: 18px 0px 0px -5px;
    cursor: pointer;
    fill:none;
}

.item_img {
    width: 102%;
    height: 88%;
    margin: -10px 0 0 -10px;
    max-width: 102%;
}

.item_detail{
	width:100%;
	min-height:200px;
}

.item_description {
    width: 100%;
    margin-bottom: 30px;
}

.item_detail_brand{
	display:flex;
	align-items:center;
	height:60px;
	font-weight:bold;
}

.item_detail_name {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
    padding: 15px 0 15px 0;
}

.item_detail_price{
	display:flex;
	align-items:center;
	height:60px;
	font-weight:bold;
	font-size:25px;
}

.item_img img {
    display: block;
    width: 598px;
    height: 100%;
    max-width: 100%;
}

.item_img_tag_footer {
    display: block;
    width: 98.7%;
    height: 61%;
}

.like_button:hover{
	stroke:red;
	fill:pink;
}

.popup_background {
    position: absolute;
    z-index: 200;
    width:100%;
    max-width: 600px;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
    display: none;
}

.order_info_popup {
    max-height: 900px;
    max-width: 600px;
    width:100%;
    background-color: white;
    border: 1px solid lightgray;
    position: absolute;
    z-index: 101;
    bottom: 0;
    border-radius: 10px 10px 0px 0px;
    overflow-y:scroll;
}

.popup_option_area {
    width: 100%;
    border-bottom: 1px solid #EAEAEA;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 10px 20px 10px;
}

.popup_button_area {
    width: 100%;
    min-height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.option_none{
	width:100%;
	border:1px solid lightgray;
	border-radius:5px;
	padding:7px;
	display:flex;
	align-items:center;
	justify-content:space-between;
	color:gray;
	font-size:13px;
}

.size_view_button{
	stroke:gray;
	fill:gray;
	width:20px;
	height:20px;
}

.option_block {
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: gray;
    font-size: 13px;
    flex-direction: column;
}

.cart_button{
	display:flex;
	align-items:center;
	justify-content:center;
	width:50%;
	height:46px;
	margin-right:10px;
	border:1px solid lightgray;
	background-color:white;
	border-radius:5px;
	font-weight:bold;
	font-size:13px;
  	transition: background-color 1s ease; /* 배경색 변화에 부드러운 전환 효과 추가 */
}

.cart_button:hover{
	cursor:pointer;
	background-color:#EAEAEA;
}

.order_button{
	display:flex;
	align-items:center;
	justify-content:center;
	width:50%;
	height:46px;
	margin-right:10px;
	border:1px solid lightgray;
	background-color:black;
	color:white;
	border-radius:5px;
	font-weight:bold;
	font-size:13px;
  	transition: background-color 1s ease; /* 배경색 변화에 부드러운 전환 효과 추가 */
}

.order_button:hover{
	cursor:pointer;
	background-color:rgba(0,0,0,0.75);
}



.size_description {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 20px;
}

.size_description p {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #444;
}

.size_table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

.size_table th, .size_table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.size_table th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
}

.size_table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.size_table tr:nth-child(odd) {
    background-color: #ffffff;
}

.size_table td {
    font-size: 14px;
    color: #555;
  	transition: background-color 1s ease; /* 배경색 변화에 부드러운 전환 효과 추가 */
}

.size_table td:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

/* 제품설명 css */
/* 제품 설명 박스 */
.product_description {
    color: #444; /* 차분한 그레이 색상 */
    padding: 30px 25px; /* 여백 조정 */
    background-color: #ffffff; /* 화이트 배경 */
    margin-top: 40px; /* 위쪽 여백 */
    max-width: 800px;
    margin-left: auto;
    margin-right: 10px; /* 가운데 정렬 */
    border: 1px solid #dcdcdc; /* 연한 회색 테두리 */
    border-radius: 8px; /* 둥근 모서리 */
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /* 부드러운 그림자 */
}

/* 텍스트 스타일 */
.product_description p {
    color: #666; /* 부드러운 그레이 */
    margin: 0;
    text-align: center; /* 중앙 정렬 */
    letter-spacing: 0.8px; /* 글자 간격을 자연스럽게 */
    line-height: 1.75;
}

.option_head {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid lightgray;
    justify-content: space-between;
    padding: 8px 8px 8px 8px;
  	transition: background-color 1s ease; /* 배경색 변화에 부드러운 전환 효과 추가 */
}

.option_head:hover,
.option_none:hover{
	cursor:pointer;
	background-color:#EAEAEA;
}

.option_content {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.sizeName {
    display: flex;
    height: 40px;
    width: 100%;
    align-items: center;
    padding: 0 0 0 15px;
  	transition: background-color 1s ease; /* 배경색 변화에 부드러운 전환 효과 추가 */
}

.sizeName:hover{
	cursor:pointer;
	background-color:#EAEAEA;
}

.real_button_area {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0 15px 10px;
    width:100%;
}

.total_info{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px 0 10px;
    font-weight: bold;
    font-size: 14px;
}

.selected_option {
    width: 100%;
    height: 94px;
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.option_top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
    padding: 0px 15px 0 16px;
}

.option_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    width: 100%;
    padding: 0 10px 0 10px;
}

.size_option {
    font-weight: bold;
    font-size: 13px;
    width: 20px;
    height: 20px;
}

.x_button{
	width:20px;
	height:20px;
	stroke:black;
	cursor:pointer;
	position:relative;
}

.x_button:hover{
	background-color:rgba(0,0,0,0.1);
	border-radius:5px;
}

.selected_quantity{
	display:flex;
	width:98px;
	height:30px;
}

.minus_input{
	width:28px;
	height:30px;
	border:1px solid lightgray;
	background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}

.plus_input{
	width:28px;
	height:30px;
	border:1px solid lightgray;
	background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}

.minus_input:hover,
.plus_input:hover{
	background-color:rgba(0,0,0,0.075);
}

.minus_input.off{
	cursor: default;
	background-color:#EAEAEA;
}

.quantity_input{
	width:30px;
	height:30px;
	border:1px solid lightgray;
	background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:bold;
    font-size:14px;
    text-align: center;
}

.minus_one,
.plus_one{
	width: 18px;
    height: 18px;
    stroke: black;
}

.selected_price{
	font-weight:bold;
	font-size:15px;
}

.popup_background_close_button {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 20px 0px 0px;
}

.popup_x_button{
	width:20px;
	height:20px;
	stroke:black;
}

.popup_x_button:hover{
	background-color:rgba(0,0,0,0.15);
	cursor:pointer;
	border-radius:5px;
}

.ask_area {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.02);
    border: 1px solid #EAEAEA;
    border-radius: 10px;
    padding: 15px;
    margin:15px 15px 15px 0;
}

.selectCartQuantity {
    color: white;
    background-color: #245eff;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    margin: 0 0 0 48px;
}

.ask_input_area{
	display:none
}

.editable-box {
    width: 100%;
    height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;
    white-space: pre-wrap;
    overflow-wrap: break-word; /* 단어가 길어질 경우 자동으로 줄바꿈 */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    resize: none;
    overflow-y:auto;
}


.editable-box.title_input {
	width: 100%;
	height: 40px;
	padding: 0 10px 0 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	line-height: 1.5;
	resize: vertical;
	box-sizing: border-box;
	white-space: pre-wrap; /* 자동 줄바꿈 */
	resize: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-y:auto;
}

.editable-box.content_input{
	margin-bottom:20px;
}

.editable-box:empty:before {
	content: attr(placeholder);
	color: #aaa;
}

.date_area{
	color:gray;
	font-size:12px;
}